.confirm {
	position: absolute;
	display: flex;
	padding: 15px;
	@include mixin.to-center;
	@include mixin.bg-bg-border-rad(10px);
	z-index: 20;

	div {
		display: flex;
		padding: 15px;
		align-items: center;
		justify-content: space-between;
	}
}
