@use "mixin.scss";

.confirm {
	position: absolute;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 15px;
	gap: 20px;
	@include mixin.to-center;
	@include mixin.bg-bg-border-rad(10px);
	z-index: 20;

	div {
		display: flex;
		gap: 15px;
	}
}
