@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900");

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "inter", sans-serif;
	font-size: 16px;
	color: var(--tg-theme-text-color);
}

body {
	background: var(--tg-theme-bg-color);
	overflow: hidden;
}

section {
	display: grid;
	grid-template-rows: 40px auto 40px;
	width: 100%;
	height: 100vh;
	background: var(--tg-theme-secondary-bg-color);

	.container {
		overflow: auto;
	}
}

h1 {
	font-size: 18px;
	font-weight: 500;
}

p {
	font-size: 14px;
}

a {
	text-decoration: none;
	color: var(--tg-theme-button-text-color);
	text-align: center;
	font-weight: 500;
	cursor: pointer;
}
