@mixin flex-center() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-between-p15() {
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin bg-bg-border-rad($rad: 100%) {
	border-radius: $rad;
	background: var(--tg-theme-bg-color);
}

@mixin to-center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
