nav {
	position: static;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-top: 1px solid;
	background: var(--tg-theme-bg-color);

	a {
		stroke: var(--tg-theme-text-color);
	}

	.active {
		stroke: var(--tg-theme-button-color);
	}
}
