.profile {
	padding: 5px;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: var(--tg-theme-secondary-bg-color);

	.button-container {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: end;
	}
}
