.profile {
	grid-row: 2;
	margin-bottom: 40px;
	padding: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;

	.user-container {
		padding: 6% 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: var(--tg-theme-button-color);
		border-radius: 12px;

		.img {
			width: 54px;
			height: 54px;
			border: 2px solid white;
			border-radius: 100%;

			img {
				width: 100%;
			}
		}

		h1 {
			padding: 2% 0;
		}

		.token {
			h1 {
				font-size: 13px;
			}
		}
	}

	.info-container {
		width: 100%;
		display: flex;
		justify-content: space-between;

		div {
			min-width: 132px;
			min-height: 116px;
			background: invert(var(--tg-theme-button-color));
		}
	}
}
